@import "tailwindcss";




@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

body {
    /* background: var(--background);
    color: var(--foreground); */
    font-family: "Gabarito", sans-serif;
  }

  
/* dark mode styles */

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}
